<html xmlns:th="http://www.thymeleaf.org">
<body>

 
        <h2>${message!}</h2>
 

    <div>
        <form method="POST" enctype="multipart/form-data" action="/demo/file?${_csrf.parameterName}=${_csrf.token}">
            <table>
                <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
                <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
                <tr><td>${_csrf.parameterName}:</td><td>${_csrf.token}</td></tr>
            </table>
        </form>
    </div>

    <div>
        <ul>
         <#list files as file>
            <li>
                <a href="${file}">${file!}</a>
            </li>
            </#list>
        </ul>
    </div>

</body>
</html>