@charset "UTF-8";

.login-div {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
}

.login-div .login-box {
    width: 400px;
    padding: 10px;
    border-radius: 3px;
}

.inputdeErrors .hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey;
}

.inputdeErrors .hint.ng-hide,
.inputdeErrors .hint.ng-enter,
.inputdeErrors .hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0;
}

.inputdeErrors .hint.ng-leave,
.inputdeErrors .hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1;
}

md-input-container label {
    color: rgb(84, 22, 29);
}

md-input-container.md-input-has-value:not(.md-input-invalid) label {
    color: rgb(84, 22, 29);
}