<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.forsrc.core.web.user.dao.mapper"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/forsrc/core/web/user/dao/mapper/UserMapper.xml"/>
        <mapper resource="com/forsrc/core/web/user/dao/mapper/UserPrivacyMapper.xml"/>
        <mapper resource="com/forsrc/core/web/user/dao/mapper/UserRoleMapper.xml"/>
        <mapper resource="com/forsrc/core/web/user/dao/mapper/RoleMapper.xml"/>
    </mappers>
</configuration>