<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>oops! 403 Forbidden</title>
</head>
<body>
<h2>oops! 403 Forbidden</h2>
<span sec:authorize="isAuthenticated()" th:inline="text"><span sec:authentication="name"/></span>
Dear &nbsp;<span sec:authentication="name" style="color:green;"></span>:
<div th:inline="text">this [[${url}]] is forbidden.</div>
<div>
    <a href="Javascript:history.back();">back</a>
    <a sec:authorize="isAuthenticated()" href="/logout">logout</a>
    <a sec:authorize="not isAuthenticated()" href="/login">login</a>
</div>
</body>
</html>