<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>login</title>
    </head>
    <body>

        <form action="/login" method="post">
            <table>
                <tbody>
                    <tr>
                        <td>username:</td>
                        <td>
                            <input type="text" name="username"/>
                        </td>
                    </tr>
                    <tr>
                        <td>password:</td>
                        <td>
                            <input type="password" name="password"/>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                            <input type="submit" value="login"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div style="color: red;">${Session['SPRING_SECURITY_LAST_EXCEPTION']!}</div>

    </body>
</html>